@(form: play.api.data.Form[Dinner], countries: List[String])(implicit user: Option[User] = None)
@import helper.FieldConstructor

@implicitField = @{ FieldConstructor(registration.f) }

@main("Host a Dinner") {
    <h2>Host a Dinner</h2>

    <script src="@routes.Assets.at("javascripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    @helper.form(routes.Dinners.insert()) {
        @if(form.hasGlobalErrors){
            <div class="validation-summary-errors" data-valmsg-summary="true">
                <span>Please correct the errors and try again.</span>
                <ul>
                    @form.globalError.map { error =>
                        <li>@error.message</li>
                    }
                </ul>
            </div>
        }
        <fieldset>
            @helper.inputText(form("title"), '_label -> "Dinner Title:")
            @helper.inputText(form("eventDate"), '_label -> "EventDate:")
            @helper.textarea(form("description"), '_label -> "Description:")
            @helper.inputText(form("address"), '_label -> "Address:")
            @helper.select(form("country"), helper.options(countries), '_label -> "Country:")
            @helper.inputText(form("contactPhone"), '_label -> "ContactPhone #:")
            @helper.inputText(form("latitude"), '_label -> "Latitude:", '_error -> "The field Latitude must be a number.")
            @helper.inputText(form("longitude"), '_label -> "Longitude:", '_error -> "The field Longitude must be a number.")
            <p>
                <input type="submit" value="Save"/>
            </p>
        </fieldset>
    }

}