@(dinner: Dinner)
@import java.text.DateFormat

@dateFormat(date: java.util.Date) = @{
    val df = DateFormat.getDateInstance(DateFormat.SHORT)
    df.format(date)
}

@timeFormat(date: java.util.Date) = @{
    val df = DateFormat.getTimeInstance(DateFormat.SHORT)
    df.format(date)
}

@at() = @{
    Html("@")
}

@main("Dinner: " + dinner.title) {

    <h2>@dinner.title</h2>
    <p>
        <strong>When:</strong>
        @dateFormat(dinner.eventDate)

        <strong>@at()</strong>
        @timeFormat(dinner.eventDate)
    </p>
    <p>
        <strong>Where:</strong>
        @dinner.address,
        @dinner.country
    </p>
    <p>
        <strong>Description:</strong>
        @dinner.description
    </p>
    <p>
        <strong>Origanizer:</strong>
        @dinner.hostedBy
        (@dinner.contactPhone)
    </p>

    <p>
        <a href="#">Edit Dinner</a> |
        <a href="">Delete Dinner</a>
    </p>
}
