@(form: play.api.data.Form[Dinner], countries: List[String])
@import helper.FieldConstructor

@implicitField = @{ FieldConstructor(registration.f) }

@if(form.hasGlobalErrors){
    <div class="validation-summary-errors" data-valmsg-summary="true">
        <span>Please correct the errors and try again.</span>
        <ul>
            @form.globalError.map { error =>
                <li>@error.message</li>
            }
        </ul>
    </div>
}
<fieldset>

    <div id="dinnerDiv">
        @helper.inputText(form("title"), '_label -> "Dinner Title:")
        @helper.inputText(form("eventDate"), '_label -> "EventDate:")
        @helper.textarea(form("description"), '_label -> "Description:")
        @helper.inputText(form("address"), '_label -> "Address:")
        @helper.select(form("country"), helper.options(countries), '_label -> "Country:")
        @helper.inputText(form("contactPhone"), '_label -> "ContactPhone #:")
        <input type="hidden" id="latitude" name="latitude" value="@form("latitude").value"/>
        <input type="hidden" id="longitude" name="longitude" value="@form("longitude").value"/>
        <p>
            <input type="submit" value="Save"/>
        </p>
    </div>

    <div id="mapDiv">
        @views.html.Dinners.map(form.get)
    </div>


</fieldset>

<script type="text/javascript">

    $(function() {
        $("#address").blur(function(evt) {
            $("#latitude").val("");
            $("#longitude").val("");

            var address = jQuery.trim($("#address").val());
            if (address.length < 1)
                return;

            FindAddressOnMap(address);
        });
    });

</script>


