@(dinners: Seq[Dinner])(implicit user: Option[User] = None)
@import java.text.DateFormat

@dateFormat(date: java.util.Date) = @{
    val df = DateFormat.getDateInstance(DateFormat.SHORT)
    df.format(date)
}

@timeFormat(date: java.util.Date) = @{
    val df = DateFormat.getTimeInstance(DateFormat.SHORT)
    df.format(date)
}

@main("Upcoming Dinners") {
    <h2>Upcoming Dinners</h2>

    <ul>
        @dinners.map { dinner =>
            <li>
                <a href="@routes.Dinners.details(dinner.id.get)">@dinner.title</a>
                on
                @dateFormat(dinner.eventDate)
                @@
                @timeFormat(dinner.eventDate)
            </li>
        }
    </ul>
}